# Classificacion of income class

This dataset was collected in 1994. It contains information about citizens socio-economic attributes such as race, marital status, education... The target variable is a discretization of the income whether it is over 50k or under/equal to 50k US dollars. It is worth mentioned that some conditions were imposed over the population to gather the data such as age greater than 16 years old.

In [1]:
# libraries
import pandas as pd

In [2]:
# importing adult dataset from UCI ml repository
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
adults = pd.read_csv(data_url)

In [3]:
adults.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [ ]:
# compute total number of rows and the proportion of over and under 50k 
print(adults.shape)

In [4]:
# refactor of column names
adults.columns = ['age', 'class', 'fnlwgt', 'edu','eduNum','status','job'
                  ,'relationship','race','sex','gain','loss','hours','native','target']
adults.head()

ValueError: Length mismatch: Expected axis has 15 elements, new values have 14 elements

In [ ]:
# data cleansing 
# remove NA, remove duplicates, remove inconclusive columns
# transform all nominal variables